.item {
    display: flex;

    padding: 6px 16px;
}

.message {
    position: relative;

    display: flex;
    flex-direction: column;

    width: fit-content;
    max-width: 26.25rem;
    padding-block: 0.75rem 1rem;
    padding-inline: 0.75rem;

    white-space: pre-wrap;
}

.message.in {
    border-radius: 12px 12px 12px 4px;
    background-color: #f2f3f4;
}

.message.out {
    margin-left: auto;

    border-radius: 12px 12px 4px;
    background-color: #e0f0ff;
}

.text {
    width: 100%;

    text-align: left;
}

.status {
    position: absolute;
    right: 0.75rem;
    bottom: 0.45rem;

    width: 100%;

    font-size: 0.5rem;
    text-align: right;
    letter-spacing: -0.45em;
}
