.root {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 400px;
    margin: auto;

    border: 1px solid #e4e5ea;
    border-radius: 16px;
}

.container {
    overflow: hidden; /* Ensure proper containment for virtualized list */
    flex: auto;
}

.list {
    overflow: auto;

    height: 100%;
    scrollbar-color: #c1c1c1 #f1f1f1;
    scrollbar-width: thin;
}

.list::-webkit-scrollbar {
    width: 6px;
}

.list::-webkit-scrollbar-track {
    border-radius: 3px;
    background: #f1f1f1;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #c1c1c1;
}

.list::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.footer {
    display: flex;
    gap: 16px;

    box-sizing: border-box;
    padding: 16px;

    border-top: 1px solid #e4e5ea;
}

.textInput {
    flex: auto;
}
